.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #0D1012;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 40px;
}
